@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=Inter&display=swap');

body {
    margin: auto;
    padding: auto;
    font-family: 'Inter', sans-serif;
    color: rgb(108, 108, 108);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    color: black;
}

h1 {
    font-size: 80px;
}
h2 {
    font-size: 64px;
}

h3 {
    font-size: 56px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: rgb(133, 133, 133);
    transition: 0.1s;
}

a:hover{
    color: #d20000;
}

.red{
    color: #d20000;
}

.navbar {
    background-color: #d20000;
}

.navbar img{
    width: 48px;
    height: auto;
}

.navbar-brand {
    font-family: 'DM Sans',sans-serif;
    font-weight: bold;
}

.navbar a {
    color: white;
    margin: 0px 12px;
}

.larger {
    font-size: 36px;
    margin-right: 24px;
    margin-left: 20px;
}

.larger img {
    margin-top: -10px;
}

.navbar li a{
    padding-left: 6px;
    padding-right: 6px;
}

.article-content{
    margin: auto;
    margin-top: 100px;
    width: 80%;
}

.article-content p {
    margin-left: 10px;
    font-size: 18px;
}

.article-content img{
    margin-left: 10px;
    width: 100%;
}

.article-body{
    margin-top: 24px;
}

.text-container{
    margin: auto;
    margin-top: 24px;
}