.article-content {
    margin: auto;
    margin-top: 100px;
    width: 80%;
}

.article-content p {
    margin-left: 10px;
    font-size: 18px;
}

.article-content img {
    margin-left: 10px;
    width: 100%;
}

.article-body {
    margin-top: 24px;
}

.text-container {
    margin: auto;
    margin-top: 24px;
}