@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=Inter&display=swap');

body {
    margin: auto;
    padding: auto;
    font-family: 'Inter', sans-serif;
    color: rgb(108, 108, 108);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    color: black;
}

h1 {
    font-size: 72px;
}
h2 {
    font-size: 40px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: rgb(133, 133, 133);
    transition: 0.1s;
}

a:hover{
    color: #d20000;
}

.red{
    color: #d20000;
}

.navbar {
    background-color: #d20000;
}

.navbar img{
    width: 48px;
    height: auto;
}

.navbar-brand {
    font-family: 'DM Sans',sans-serif;
    font-weight: bold;
}

.navbar a {
    color: white;
    margin: 0px 12px;
}

.larger {
    font-size: 36px;
    margin-right: 24px;
    margin-left: 20px;
}

.larger img {
    margin-top: -10px;
}

.navbar li a{
    padding-left: 6px;
    padding-right: 6px;
}

.title-section {
    margin-top: 120px;
}

.head-content{
    background-color: rgb(239,244,254);
    padding: 24px;
    margin-top: 40px;
    border-radius: 10px;
}

.featured-content {
    margin-top: 24px;
}

.card {
    border-radius: 4px;
    padding: 0;
    transition: 0.2s;
}

.featured-content .card-title{
    color: white;
}

.left-card{
    height: 100%;
}

.left-card-img {
    height: 100%;
}

.right-card-img {
    height: 200px;
}

.card-img-overlay{
    padding: 0;
}

.bgm-dark {
    background-color:rgba(0, 0, 0, 0.61);
    color: white;
    padding: 12px;
    padding-top: 16px;
}

.row-bot{
    margin-top: 24px;
}

.head-content .card:hover{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
}

.main-content {
    margin-top: 64px;
}

.main-content-content{
    margin-top: 24px;
}