body {
    margin: auto;
    padding: auto;
    font-family: 'Inter', sans-serif;
    color: rgb(108, 108, 108);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    color: black;
}

h1 {
    font-size: 80px;
}
h2 {
    font-size: 64px;
}

h3 {
    font-size: 56px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: rgb(133, 133, 133);
    transition: 0.1s;
}

a:hover{
    color: #d20000;
}

.red{
    color: #d20000;
}

.title-section {
    margin-top: 120px;
}

.table th {
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
}

.table td{
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
}

.btn {
    width: auto;
    font-size: 12px;
    margin-top: 0;
}

a {
    color: black;
}

.del {
    background-color: rgb(211, 38, 38);
    border: 2px solid rgb(211, 38, 38);
}

.del:hover {
    background-color: rgba(0,0,0,0);
    border: 2px solid rgb(211, 38, 38);
    color: rgb(211, 38, 38) !important;
}

.edit {
    background-color: rgb(34, 55, 246);
    border: 2px solid rgb(34, 55, 246);
}

.edit:hover {
    background-color: rgba(0,0,0,0);
    border: 2px solid rgb(34, 55, 246);
    color: rgb(34, 55, 246) !important;
}

.btn-pad{
    padding-top: 8px !important;
}
.no-item {
    margin-top: 120px;
    color: #d20000;
    opacity: 0.5;
}

.no-item h3 {
    margin-top: 24px;
    color: #d20000;
}

.no-item img {
    height: 240px;
    width: auto;
}