@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=Inter&display=swap");

body {
  margin: auto;
  padding: auto;
  font-family: "Inter", sans-serif;
  color: rgb(108, 108, 108);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: black;
}

h1 {
  font-size: 72px;
}
h2 {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: rgb(133, 133, 133);
  transition: 0.1s;
}

a:hover {
  color: #d20000;
}

.navbar {
  background-color: #d20000;
}

.navbar img {
  width: 48px;
  height: auto;
}

.navbar-brand {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}

.navbar a {
  color: white;
  margin: 0px 12px;
}

.larger {
  font-size: 36px;
  margin-right: 24px;
  margin-left: 20px;
}

.larger img {
  margin-top: -10px;
}

.navbar li a {
  padding-left: 6px;
  padding-right: 6px;
}

#chatbox {
  width: 90vw;
  height: 80vh;

  margin-top: 110px;
  background-color: blue;

  border-radius: 15px;

  padding: 0;

  overflow: hidden;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

#contact-box {
  background-color: rgb(251, 251, 251);
  background-image: url("../image/doctor-2.png");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}

#contact-box > p {
  position: relative;
  margin: auto;
  top: 40%;
  text-align: center;
  font-weight: bolder;
  font-size: 3.5vh;
  color: rgb(122, 122, 122);
}

#text-box {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.244);
  background-color: white;
  position: relative;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

#text-in {
  position: absolute;
  bottom: 0;
  padding: 2vh 1.5vw;
  background-color: #fafafa;
  width: 100%;
}

#inputbox,
#submitbtn {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

#submitbtn {
  padding: 0;
}

#submitbtn button {
  background-color: transparent;
  border: 2px solid #d20000;
  color: #d20000;
  transition: 0.15 ease-in-out;
}

#submitbtn button:hover {
  background-color: #d20000;
  color: white;
}