@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=Inter&display=swap");

body {
  margin: auto;
  padding: auto;
  font-family: "Inter", sans-serif;
  color: rgb(108, 108, 108);
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: black;
}

h1 {
  font-size: 72px;
}
h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: rgb(133, 133, 133);
  transition: 0.1s;
}

a:hover {
  color: #d20000;
}

.navbar {
  background-color: #d20000;
}

.navbar img {
  width: 48px;
  height: auto;
}

.navbar-brand {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}

.navbar a {
  color: white;
  margin: 0px 12px;
}

.larger {
  font-size: 36px;
  margin-right: 24px;
  margin-left: 20px;
}

.larger img {
  margin-top: -10px;
}

.navbar li a {
  padding-left: 6px;
  padding-right: 6px;
}

.red {
  color: #d20000;
}

.greeting {
  margin-top: 0px;
  background: url("../image/Back-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.container-greet {
  padding: 120px 0px 120px 0px;
}

.greet-body {
  font-size: 24px;
  color: rgb(133, 133, 133);
}

.option {
  margin-top: 64px;
}

.option img {
  height: 48px;
  width: auto;
}

.option h2 {
  margin-bottom: 24px;
}

.option .col-md-8 {
  padding-top: 20px;
}

.col-md-4 {
  padding: 20px;
}

.option .card {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}

.option .card:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
}

.article {
  margin-top: 64px;
}

.article .col-4 {
  position: relative;
}

#bottom {
  position: absolute;
  bottom: 12px;
  right: 0;
}

.article-content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.article-content .col-8 {
  padding-left: 0px;
}

.article h1 {
  font-size: 56px;
}

.article p {
  font-size: 20px;
}

.article a {
  text-decoration: none;
  color: #d20000;
  transition: 0.1s;
}

.article a:hover {
  color: rgb(0, 0, 0);
}

.text-content {
  padding-top: 40px;
}

.container-head {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.article .card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}

.article .card-title {
  height: 80px;
}

.article .card img {
  height: 178px;
}

.footer {
  margin-top: 100px;
  width: 100%;
  height: 35vh;
  background-color: #d20000;
  padding: 4vh 3vw;
  padding-top: 6vh;
  color: white;
}

#reg-log {
  position: absolute;
  right: 20px;
}

#copyright {
  margin-top: 2vh;
  padding: 1vh 0;
  border-top: 1px solid white;
  font-weight: 500;
}

.table {
  width: 100%;
  border: 0px;
  border-color: rgba(0, 0, 0, 0);
  color: white;
}

.table th {
  padding: 0;
  padding-bottom: 8px;
  font-weight: bold;
  text-decoration: underline;
}

.table td {
  padding: 0;
  padding-top: 4px;
}

.table a {
  color: white;
}

.table a:hover {
  color: rgb(193, 193, 193);
}

#reg {
  height: 100vh;
}

#reg > .row {
  height: 100%;
  background-color: rgb(255, 255, 255);
}

#reg-card {
  margin: auto;
  margin-top: 12vh;
  margin-bottom: auto;
  position: relative;
  top: 15.5vh;
  width: 50%;
  background-color: rgb(249, 249, 249);
  border-radius: 8px;
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.226);
  padding: 2%;
}

#reg-card h4 {
  margin-bottom: 20px;
}

#reg .col-5 {
  background-color: #9c0e0e;
  background-image: url("../image/Register.jpg");
  background-size: cover;
  background-position: center;
}

#log-submit {
  background-color: #d20000;
  border: 2px solid #d20000;
  transition: 0.15s ease-in-out;
  margin-top: 8px;
  color: white;
}

#log-submit:hover {
  background-color: white;
  color: #d20000;
}

#perks {
  color: white;
  font-size: 25px;
  position: relative;
  top: 20%;
}

.footer {
  margin-top: 0;
}

.btn {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  background-color: #d20000;
    border: 2px solid #d20000;
    color: white;
  }
  
  .btn:hover {
    background-color: #d2000000;
    border: 2px solid #d20000;
    color: #d20000;
}

.forgot {
  margin-top: -8px;
  margin-bottom: 24px;
}

a {
  text-decoration: none;
  color: #d20000;
}

.sign-up {
  margin-top: 12px;
  margin-bottom: 12px;
}
