@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=Inter&display=swap");

body {
  margin: auto;
  padding: auto;
  font-family: "Inter", sans-serif;
  color: rgb(108, 108, 108);
  background-image: url("../image/Obat.jpg");
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: black;
}

h1 {
  font-size: 72px;
}
h2 {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: rgb(133, 133, 133);
  transition: 0.1s;
}

a:hover {
  color: #d20000;
}

.navbar {
  background-color: #d20000;
}

.navbar img {
  width: 48px;
  height: auto;
}

.navbar-brand {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}

.navbar a {
  color: white;
  margin: 0px 12px;
}

.larger {
  font-size: 36px;
  margin-right: 24px;
  margin-left: 20px;
}

.larger img {
  margin-top: -10px;
}

.navbar li a {
  padding-left: 6px;
  padding-right: 6px;
}

#order-form {
  position: relative;
  top: 180px;
  width: 750px;

  margin: auto;
  padding: 20px;

  box-shadow: -6px 6px rgba(210,0,0, 0.4);

  border-radius: 10px;
  background-color: #f8fcff;
  color: black;
}

#pres {
  height: 200px;
}

.btn {
  margin-top: 12px;
  background-color: #d20000;
  border: 1px solid #d20000;
  text-align: left;
  width: 100%;
  text-align: left;
}

.form-check .btn {
  background-color: rgba(255, 255, 255, 0);
  color: #d20000;
}

.btn {
  border: 2px solid #d20000;
}
.btn:hover{
  background-color: #d2000000;
  border: 2px solid #d20000;
  color: #d20000;
}

.footer {
  margin-top: 30vh;
}

